# Ignorar ambiente virtual
venv/

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar diretório de dados (se necessário)
dados/

# Ignorar arquivos de chave/senha
key/

# Ignorar notebooks específicos
Machine Learning Regressao.ipynb
consult_nlp_main.ipynb
consult_unsupervised.ipynb
tests.ipynb